.pg-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 10, 15);
}

.pg-container h1 {
    color: rgb(130,124,142);
    font-size: 20px;
}

.pg-container-item {
    background-color: rgb(36,35,43);
    color: #f5f0ff;
    width: 650px;
    margin: 15px 0;
}
